ElementManagementSystem_Jupiter/bin/
.vs/ElementManagementSystem_Jupiter/FileContentIndex/a6b04c1d-63db-4594-9052-8d77a07dc4e6.vsidx
.vs/ElementManagementSystem_Jupiter/v17/.suo
.vs/ElementManagementSystem_Jupiter/v17/DocumentLayout.json
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.csproj.CoreCompileInputs.cache
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.csproj.FileListAbsolute.txt
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.csproj.GenerateResource.cache
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.exe
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.MainForm.resources
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.PanelControls.IncomingUserControl.resources
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.PanelControls.MainUserControl.resources
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.PanelControls.OutgoingUserControl.resources
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.PanelControls.RentalUserControl.resources
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.pdb
ElementManagementSystem_Jupiter/obj/Debug/ElementManagementSystem_Jupiter.Properties.Resources.resources
ElementManagementSystem_Jupiter/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/
